<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpotifyClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SpotifyClient.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebserviceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="SpotifyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SpotifyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WebserviceSecret" serializeAs="String">
                <value />
            </setting>
        </SpotifyClient.Properties.Settings>
    </userSettings>
</configuration>